.App {
  /* background-color: aqua; */
  text-align: center;
  font-family: sans-serif;
}

.model {
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  position: absolute;
  background-color: grey;
}

.wrapper {
  position: relative;
  height: 100px;
  max-width: 200px;
}